
/* Custom CSS from theme */
.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
min-height: 230px;
}

/* My CSS */
.img-responsive {
  border-radius: 4px;
}

.hidden-xs, .hidden-sm, .visible-xs, .visible-sm {
  width: 35%;
}

/* Marings to buttons */
.contact-go-to-btn {
margin: 24px 0;
}